.hello{
			color: red;
		}
		body .hello{
			color: #000;
		}
		#hello{
			color: yellow;
		}
		body #hello{
			color: blue;
		}
		div{
			color: #999 !important;
			background: red;
			text-align: center;
			border: 1px solid black;
			width: 400px;
			height: 400px;

		}
		
.img{
	background: url(CB02B586D05DD9F54B0C0A45CC4F782A.png);
	width: 25px;
	height: 25px;
	background-position: 0px 0px;
}
.img:hover{
	background: url(CB02B586D05DD9F54B0C0A45CC4F782A.png);
	background-position: -148px 0px;
}